@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    color:#4F5B67;
    /* font-size: 14px; */
}

.highcharts-legend-box{
    border: 1px solid #D6DADE;
    border-radius: 4px;
}

.menu-list a.active svg{
    color:#ff513a;    
}

.menu-list li > a.active{
    background-color: #f8f7fa;
    border-right: 2px solid #ff513a;
}

.menu-list .submenu li a{
    opacity: .4;
}

.menu-list .submenu li > a.active{
    background-color: #fff;
    border-right: 0px solid #ff513a;
    opacity: 1;
}

.menu-list .has-children::after{
    content: '';
    border-left: 5px solid #4F5B67;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: auto;
}

.menu-list ul.submenu .has-children::after{
    content: '+';
    color:#4F5B67;
    /* border-left: 5px solid #4F5B67;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; */
    border:0;
}

.menu-list ul.submenu .active.has-children::after{
    content: '+';
    color:#FF513A;
    border:0;
    
}

.menu-list .active.has-children::after{
    transform: rotate(90deg);
    border-left: 5px solid #FF513A;
}

ul.submenu ul.submenu{
    padding-left: 20px;
    position: relative;
}

ul.submenu ul.submenu::before{
    content:"";
    left:70px;
    height: 100%;
    width:1px;
    position:absolute;
    top:0;
    background: #D6DADE;
}

.menu-list .submenu .submenu li > a.active{
    position:relative;
}

.menu-list .submenu .submenu li > a.active::before{
    content: "";
    left: 49px;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    background: #FF513A;
}

/* ul.submenu ul.submenu::after{
    content:"";
    left:65px;
    height: 10px;
    width:10px;
    position:absolute;
    bottom:0;
    border-radius: 10px;
    background: #FF513A;
} */

ul.submenu{
    visibility: hidden;
    transition: all 0.5s ease;
    height:0;
    opacity: 0;
}

.menu-list a.active + ul.submenu{
    visibility: visible;
    height:auto;
    opacity: 1;
}

.section-menu li > a.active{
    border-bottom: 2px solid #ff513a;
}

.rdt_Table{
    border:1px solid rgba(0,0,0,.12);
}

.rdt_TableHead{
    min-height: 60px;
    
}

.rdt_TableCell{
    min-height: 65px;
    color:#373F47;
}

.rdt_TableHead .rdt_TableCol{
    background: #FAFAFA;
    color:#717D8A;
}